<div>
  <mat-toolbar>
    <mat-toolbar-row class="nav-bar">
      <!--
        <span>menu bar</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="nav-icon" aria-label=" menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      -->
    </mat-toolbar-row>

    <mat-toolbar-row class="secondary-nav-bar">
      <button mat-icon-button class="nav-icon" aria-label=" menu icon">
        <mat-icon>apps</mat-icon>
      </button>
      <span class="example-spacer"></span>
      {{ route }}
    </mat-toolbar-row>
  </mat-toolbar>
</div>
